################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PawnCube
/ChessLibrary/bin/Debug/net6.0
/ChessLibrary/obj
/obj
/.vs/ProjectEvaluation
